* {
    font-family: Optima, sans-serif
}

form {
    padding: 1%;
    /* padding-top: 3%; */
    width: 80%;
    margin: auto;
}

#submit-line {
    width: 50%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 1%; */
}

button {
    background-color: #999999;
    border: 1.5px solid #999999;
    /* border-radius: 5px; */
    color: white;
    padding: 10px 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    color: #999999;
    border: 1.5px solid #999999;
    background-color: #ffffff;
    transition: 0.1s ease-in-out;t
}

input[type=text] {
    /* width: 22.0%; */
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 4px solid #dddddd;  
    margin-left: 1%;
    margin-right: 1%;
    padding: 0px;
}

input[type=text]:focus {
    border: none;
    border-bottom: 4px solid #dddddd;  
    box-shadow: none;
    outline: none;
    background-color: #dddddd;
    transition: background-color .2s ease-out;
}

input[type=checkbox] {
    width: 5%;
    border-radius: 0px;
    outline: none;
    border: 1px solid #000000;
    box-shadow: none;
    
    filter: grayscale(100%);
}

input[type=select] {
    border-radius: 0px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    /* background-image: url(...);   Add custom arrow */
    border: 1px solid #555555;
    height: 34px;
    border-radius: 0px;
 }

button:focus {
    outline: none;
}

a {
    color: #bbbbbb;
}

/* 
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
} */

#footer {
    color: #666666;
    position:fixed;
    bottom:0px;
    width:21%;
    right:0px;
    text-align:center;
    margin: 3%;
}