<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Semantic Compasses</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

      <!-- Load Fonts -->
      <!-- font-family: 'Shadows Into Light', cursive; -->
      <!-- font-family: 'Amatic SC', cursive; -->
      <!-- font-family: 'Cinzel', serif; -->
      <!-- font-family: 'Hepta Slab', serif; -->
      <!-- font-family: 'Lexend Tera', sans-serif; -->
      <!-- font-family: 'Josefin Slab', serif;#} -->
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Hepta+Slab|Josefin+Slab|Lexend+Tera|Shadows+Into+Light&display=swap" rel="stylesheet">


      <!--Bootstrap stuff-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

      <script type="text/javascript" src="{{ url_for('static', filename='lib/p5.js') }}"></script>
      <script type="text/javascript"  src="{{ url_for('static', filename='js/grid.js') }}?{{version_num}}"></script>

  </head>
  <body>

    <div id="wrapper">
      <script>
        let gridData = {{ grid_words | tojson | safe }};
        let coordinates = {{ coordinates | tojson | safe }};

        setGrid(gridData, coordinates);
      </script>

      <form method="POST">
        <input id="up" type="text" name="up_word" placeholder="{{words[0]}}" autocomplete="off">
        <input id="down" type="text" name="down_word" placeholder="{{words[1]}}" autocomplete="off">
        <input id="left" type="text" name="left_word" placeholder="{{words[2]}}" autocomplete="off">
        <input id="right" type="text" name="right_word" placeholder="{{words[3]}}" autocomplete="off"down
        <br>
        <div id="submit-line">

      
        </div>

        <div id="footer">

          Enter a word on each side of the compass. <br>

          Then, click here to generate a spatial poem:  <br>

          <button type="submit">Compose.</button> <br>

          <label for="n">Width</label>
          <select name="n" id="n" class="form-control-sm" autocomplete="off">
            <option>3</option>
            <option>5</option>
            <option>7</option>
            <option>9</option>
          </select>

          <br>
          
          <div  style="display: none;">
            <label for="rotation">Rotation</label>
            <select id="rotation" name="rotation" class="form-control-sm" autocomplete="off">
              <option selected="selected">0</option>
              <option>90</option>
              <option>180</option>
              <option>270</option>
            </select>
          </div>

          True Corners
          <input type="checkbox" name="true-corners" {{true_corners_checked}}> 

          <br>

          
          <a href="http://www.alexcalderwood.blog/projects">Made by Alex</a>
        </div>

      </form>
    </div>


  </body>
</html>